<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-content">
            <p>
                {{ site.title | escape }}
                <span class="footer-separator">•</span>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                <span class="footer-separator">•</span>
                <a
                    href="https://github.com/{{ site.github_username }}"
                    target="_blank"
                    rel="noopener"
                    >GitHub</a
                >
                <span class="footer-separator">•</span>
                <a
                    href="https://linkedin.com/in/{{ site.minima.social_links.linkedin }}"
                    target="_blank"
                    rel="noopener"
                    >LinkedIn</a
                >
            </p>
        </div>
    </div>
</footer>
